
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// admin lte font
$fa-font-path:"../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

//admin lte
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// animate css
@import '~animate.css/animate.css';
@import "~vue2-animate/src/sass/vue2-animate.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-exact-active {
    background-color: rgba(114, 86, 8, 0.555);
    color: black !important;
}

.login-box {
  width: 600px;
  opacity: 0.8;
  
}

.sidebar-dark-primary {
  opacity: 0.8;
  background-color: aliceblue;
}

.sidebar-dark-primary .sidebar a { 
  color: black;
}

.nav-sidebar .nav-link p {
  color: black;
}


.list-card {
    border: 1px solid  rgba(114, 86, 8, 0.555); 
   box-shadow: 0 2px 4px rgba(5, 0, 0, 0.815);
    
}

.table > tbody > tr {
    border: 2px solid  rgba(114, 86, 8, 0.555);

}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: rgba(114, 86, 8, 0.555);
  color: black !important;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link:hover {
  background-color: rgba(83, 86, 87, 0.966);
  color: rgb(250, 244, 244) !important;
}

.badge-info {
  color: #212529;
  background-color: #f1db02;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black !important;
  background-color: rgba(114, 86, 8, 0.555);
}

.nav-pills .nav-link:hover, .nav-pills .show > .nav-link {
  background-color: rgba(83, 86, 87, 0.966);
  color: rgb(248, 246, 246) !important;
}


.box-level {
  border-radius: 62px 62px 62px 62px;
-moz-border-radius: 62px 62px 62px 62px;
-webkit-border-radius: 62px 62px 62px 62px;
border: 3px solid #ab9220;
}

.box-level-modal {
    border: 3px solid #ab9220;
}


  .btn-primary {
    border-radius: 62px 62px 62px 62px;
    -moz-border-radius: 62px 62px 62px 62px;
    -webkit-border-radius: 62px 62px 62px 62px;
    border: 3px solid #ab9220;
  }

  
  .btn-primary:hover {
    border-radius: 62px 62px 62px 62px;
    -moz-border-radius: 62px 62px 62px 62px;
    -webkit-border-radius: 62px 62px 62px 62px;
    border: 3px solid #928b03;

    -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.39);
      box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.39);
  }

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ab9220;
}

.btn-close {
  border-radius: 62px 62px 62px 62px;
  -moz-border-radius: 62px 62px 62px 62px;
  -webkit-border-radius: 62px 62px 62px 62px;
  border: 3px solid #8f9194;
}


.btn-close:hover {
  border-radius: 62px 62px 62px 62px;
  -moz-border-radius: 62px 62px 62px 62px;
  -webkit-border-radius: 62px 62px 62px 62px;
  border: 3px solid #dae3f1;

  -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.39);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.39);
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.39);
}

.btn-close, .btn-close:hover, .btn-close:active, .btn-close:visited {
  background-color: #8f9194;
}

.swal2-popup .swal2-styled.swal2-confirm { 
  background-color: #ab9220 !important ;

}

.page-item.active .page-link { 
  background-color: #ab9220 !important ;
}

.form-control:focus {
    border-color: #ab9220;
    box-shadow: 0 0 0 0.2rem rgba(144, 127, 11, 0.25);
}

.forgot {
  text-align: center;
  
}

.logo {
  width: 200px;
}


.carding-box {
  width: 750px;
  opacity: 0.9;
  
}


@media only screen and (min-width: 600px) {
  .login-box {
    width: 80%;
    margin-top: 10px;
  }


  .carding-box {
    width: 300px;
    opacity: 0.9;
    
  }

  .boton {
    width: 100px;
  }

  .boton > a > i {
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
  }

  .boton > p {
    font-size: 10px;
  }




}

@media only screen and (max-width: 600px) {
  .login-box {
    width: 80%;
    margin-top: 10px;
  }

  .logo {
      width: 120px;
  }

  .carding-box {
    width: 300px;
    opacity: 0.9;
    
  }

  .boton {
    width: 100px;
  }

  .boton > a > i {
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
  }

  .boton > p {
    font-size: 10px;
  }




}

@media only screen and (min-width: 768px) {

  .login-box {
    width: 80%;
    margin-top: 10px;
  }

  .logo {
      width: 200px;
  }

  .carding-box {
    width: 800px;
    opacity: 0.9;
    margin-top: 120px;
    
  }

  .boton {
    width: 100px;
  }

  .boton > a > i {
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2em;
  }

  .boton > p {
    font-size: 14px;
  }

} 

@media only screen and (min-width: 1200px) {

    .login-box {
     /* width: 80%; */
      width: 700px;
      margin-top: 120px;
     
    }

    .logo {
        width: 150px;
    }

    .carding-box {
      width: 700px;
      opacity: 0.9;
      height: 450px;
      margin-top: 5px;
      
    }

    .boton {
      width: 100px;
    }

    .boton > a > i {
      color: #fff;
      text-shadow: 1px 1px 1px #ccc;
      font-size: 1.5em;
    }

    .boton > p {
      font-size: 14px;
    }
}



#test  {
  margin-top: 25px;
  //font-size: 21px;
  //text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:0.9;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:0.9;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:0.9;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 0.9;
  }
}