<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-4">
                <div class="card card-default list-card">
                    <div class="card-header">Details Profile <strong>{{ nameProfile }}</strong> </div>

                    <div class="card-body">
                            
                               <form method="post">
                                            <div class="form-group">
                                               
                                                <div class="row">
                                                    <div class="col-md-2"><label for=""> Permissions</label></div>
                                                    
                                                        <div class="col-md-2">
                                                            <label for="">View</label>
                                                            <input type="checkbox" ref="one" @change="checkData" name="userview" v-model="form.view" class="form-check" id="" value="1">
                                                        </div>

                                                        <div class="col-md-2">
                                                            <label for="">Create</label>
                                                            <input type="checkbox" ref="two" @change="checkData" name="usercreate" v-model="form.create" class="form-check" id="" value="2">
                                                        </div>

                                                        <div class="col-md-2">
                                                            <label for="">Edit</label>
                                                            <input type="checkbox" ref="three" @change="checkData" name="useredit" v-model="form.edit" class="form-check" id="" value="3">
                                                        </div>

                                                        <div class="col-md-2">
                                                            <label for="">Delete</label>
                                                            <input type="checkbox" ref="four" @change="checkData" name="userdelete" v-model="form.delete" class="form-check" id="" value="4">
                                                        </div>
                                                   
                                                        <div class="col-md-2"></div>
                                                </div>
                                                
                                            </div>
                                      
                                        <a :href="route" class="btn btn-close btn-sm">Back</a>
                                        <button class="btn btn-primary btn-sm save" @click.prevent="createdProfile()">Save</button>

                                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
 
        export default {
            name: 'Details',
            data() {
                return {
                    profileId: 0,
                    nameProfile:'',
                     form: {
                        view:false,
                        edit:false,
                        create:false,
                        delete:false,
                        idprofile:0,
                        arraypermission: []
                    },

                }
            },
            created() {
                this.profileId = this.$route.query.id;
                this.loadProfile();
            },
            methods: {
                loadProfile() {
                    axios.get('/profile/'+this.profileId).then( ( response ) => {
                           // console.log(response.data);
                            this.nameProfile = response.data.role.name;
                            this.form.idprofile = this.profileId;

                            for(let x=0; x<response.data.role.permissions.length;x++){
                                        //console.log(response.data.role.permissions[x]);
                                    if(response.data.role.permissions[x].id == 1){
                                        this.form.view = true;
                                        this.form.arraypermission.push(1);
                                    }else if(response.data.role.permissions[x].id == 2){
                                        this.form.create = true;
                                        this.form.arraypermission.push(2);
                                    }else if(response.data.role.permissions[x].id == 3){
                                        this.form.edit = true; 
                                        this.form.arraypermission.push(3);
                                    }else if(response.data.role.permissions[x].id == 4){
                                        this.form.delete = true;
                                        this.form.arraypermission.push(4);
                                    }
                            }
                            

                    });
                },
                createdProfile() {
                    let boton = $('.save');
                     this.$Progress.start();
                     boton.attr('disabled', true);
                            axios.post('/profile/store', this.form).then( (response) => {
                                        Fire.$emit('AfterCreate');
                                        //console.log(response.data);
                                         swal.fire({
                                            type: 'success',
                                            title: 'Profile Created in successfully'
                                            }).then( (res) => {
                                                 boton.attr('disabled', false);
                                                    if(res){
                                                        window.location.href = '/profiles';
                                                    }
                                            });
                            }).catch( (error) => {
                                // console.log(error);
                            });
                    this.$Progress.finish();

                },
                checkData(event) {
                   //console.log(event.target.value);
                           if(event.target.checked == true){
                                this.form.arraypermission.push(parseInt(event.target.value));
                           }else{
                                let index = this.form.arraypermission.indexOf(parseInt(event.target.value));
                                if (index > -1) {
                                    this.form.arraypermission.splice(index, 1);
                                }
                           }
                }
            },
            computed: {
                    route() {
                        return '/profiles';
                    }
            },
            mounted() {
               this.profileId = this.$route.query.id;
            }
        }
</script>