<template>
    <div class="container">
      <div class="row ">
          <div class="col-md-12 mt-5">
            <div class="card list-card">
              <div class="card-header">
                <h3 class="card-title">Users List</h3>
                
                <div class="card-tools">
                        <div class="form-group ">
                                <div class="row">
                                    <div class="col-8">
                                        <input class="form-control" @keypress="searchit" v-model="search" type="search" placeholder="Search" aria-label="Search">
                                    </div>
                                    <div class="col-4 col-sm-2">
                                        <button class="btn btn-primary btn-sm pull-right" @click="newModal">Add New <i class="fas fa-user-plus fa-fw"></i></button>
                                    </div>
                                </div>
                        </div>
                </div>
              </div>

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Status</th>
                       
                        <th class="text-center">Roles</th>
                         <th class="text-center">Module</th>
                        <th>Registered at</th>
                        <th>Action</th>
                    </tr>
                    <tr v-for="user in users.data" :key="user.id">
                        <td>{{user.id}}</td>
                        <td>
                            <a href="#" @click="showUser(user)">{{user.first_name}}</a>
                        </td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <span :class="user.status == 1 ? 'badge badge-success' : 'badge badge-danger' ">{{user.status == 1 ? 'Active' : 'Inactive' }}</span>    
                        </td>
                       
                        <td>
                             <div class="col-md-12"  v-for="rol in user.roles">  {{ rol.name }}</div> 
                        </td>
                         <td>
                            <div class="col-md-12" v-for="mod in user.module"> / {{ mod.name }}</div>
                        </td>
                        <td>{{user.created_at | myDate}}</td>
                        <td>
                            <a href="#" @click="editModal(user)">
                                <i class="fa fa-edit blue"></i>
                            </a>
                            /
                            <a href="#" @click="deleteUser(user.id)" v-if="user.id != 1">
                                        <i class="fa fa-trash red"></i>
                            </a>
                            
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                 <pagination :data="users" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

                <div class="col-md-8">
                    <!-- Modal SHOW USER-->
                        <div class="modal fade" id="showUserData" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg  " role="document">
                                <div class="modal-content box-level-modal">
                                        <div class="modal-header">
                                            <h5 class="modal-title"  id="addNewLabel">Show User</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                                <div class="row">
                                                        <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>First Name: <label name="first_name" v-text="show.first_name"></label></p>
                                                                </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Last Name: <label name="last_name" v-text="show.last_name"></label></p>
                                                                    </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Email: <label name="email" v-text="show.email"></label></p>
                                                                    </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Phone: <label name="phone" v-text="show.phone"></label></p>
                                                                    </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Cellphone: <label name="cellphone" v-text="show.cellphone"></label></p>
                                                                    </div>
                                                        </div>

                                                        

                                                        <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Date of Birth: <label name="date_of_birth" v-text="show.date_of_birth"></label></p>
                                                                    </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Status: <label :class="show.status == 1 ? 'badge badge-success' : 'badge badge-danger' " name="status" v-text="show.status == 1 ? 'Active' : 'Inactive'"></label></p>
                                                                   
                                                                    </div>
                                                        </div>

                                                          <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Restriction by IP: <label :class="show.restriction_by_ip == 1 ? 'badge badge-danger' : 'badge badge-success' " name="restriction_by_ip" v-text="show.restriction_by_ip == 1 ? 'Yes' : 'No'"></label></p>
                                                                   
                                                                    </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <p>Address: <label name="address" v-text="show.address"></label></p>
                                                                    </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                                    <div class="form-group" v-if="show.showpermission">
                                                                        <h3>Roles and Modules access</h3>

                                                                        <ul v-for="per in show.visualmodule" :key="">
                                                                                <li>{{ per.role }} / {{ per.module }}</li>
                                                                            
                                                                        </ul>
                                                                    </div>
                                                                    <div v-else>
                                                                        <h3 class="text-danger">Not Roles Asignated</h3>
                                                                    </div>
                                                        </div>
                                                    </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    <!-- End Modal -->
                 </div>

        </div>

        <!-- Modal CREATE or EDIT -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content box-level-modal">
                        <div class="modal-header">
                            <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New User</h5>
                            <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update User's Info</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form @submit.prevent="editmode ? updateUser() : createUser()">
                                <div class="modal-body">
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <input v-model="form.first_name" type="text" name="first_name"
                                                        placeholder="First Name" ref="firstname"  
                                                        class="form-control first_name" :class="{ 'is-invalid': form.errors.has('first_name') }">
                                                    <has-error :form="form" field="first_name"></has-error>
                                                </div>
                                        </div>

                                        <div class="col-md-6">
                                                <div class="form-group">
                                                        <input v-model="form.last_name" type="text" name="last_name"
                                                            placeholder="Last Name"
                                                            class="form-control" :class="{ 'is-invalid': form.errors.has('last_name') }">
                                                        <has-error :form="form" field="last_name"></has-error>
                                                    </div>
                                        </div>
                                    </div>

                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                                    <div class="form-group">
                                                            <input v-model="form.email" type="email" name="email"
                                                                placeholder="Email Address"
                                                                class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                                            <has-error :form="form" field="email"></has-error>
                                                        </div>
                                        </div>

                                        <div class="col-md-6">
                                                <div class="form-group">
                                                        <input v-model="form.phone" name="phone" id="phone"
                                                        placeholder="Phone User"
                                                        class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }" maxlength="12">
                                                        <has-error :form="form" field="phone"></has-error>
                                                    </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <input v-model="form.cellphone" name="cellphone" id="cellphone"
                                                    placeholder="Cellphone User"
                                                    class="form-control" :class="{ 'is-invalid': form.errors.has('cellphone') }" maxlength="12">
                                                    <has-error :form="form" field="cellphone"></has-error>
                                                </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                    <input v-model="form.date_of_birth" name="date_of_birth" id="date_of_birth"
                                                    placeholder="date_of_birth" type="date"
                                                    class="form-control" :class="{ 'is-invalid': form.errors.has('date_of_birth') }">
                                                    <has-error :form="form" field="date_of_birth"></has-error>
                                                </div>
                                                
                                        </div>
                                    </div>

                                
                                    <div class="form-group">
                                                        <textarea v-model="form.address" name="address" id="address"
                                                        placeholder="Address User"
                                                        class="form-control" :class="{ 'is-invalid': form.errors.has('address') }" maxlength="100"></textarea>
                                                        <has-error :form="form" field="address"></has-error>
                                    </div>

                                    <div class="form-group">
                                        <input v-model="form.password" type="password" name="password" id="password"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('password') }" placeholder="Password">
                                        <has-error :form="form" field="password"></has-error>
                                        <em v-show="editmode">(leave empty if not changing)</em>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-check">
                                            <input  name="restriction_by_ip" v-model="form.restriction_by_ip" class="form-check-input" type="checkbox" id="restriction_by_ip">
                                            <label class="form-check-label" for="defaultCheck1">
                                                This user having restriction ip
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-check">
                                            <input  name="status" v-model="form.status" class="form-check-input" type="checkbox" id="status">
                                            <label class="form-check-label" for="defaultCheck1">
                                                Active
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                                <div class="form-group">
                                                    <select name="role"  v-model="form.role" @change="handleChangeRol" id="role" class="form-control" :class="{ 'is-invalid': form.errors.has('role') }">
                                                        <option :value="null" disabled>Select User Role</option>
                                                        <option v-for="rol in roles" :value="rol.id" :key="rol.id" :data-namerol="rol.name">{{ rol.name }}</option>
                                                    </select>
                                                    <has-error :form="form" field="role"></has-error>
                                                </div>
                                        </div>

                                        <div class="col-md-5">
                                                <div class="form-group">
                                                    <select name="module"  @change="handleChange" v-model="form.module" id="module" class="form-control" :class="{ 'is-invalid': form.errors.has('module') }">
                                                        <option  :value="null" disabled>Select module</option>
                                                        <option ref="namemod" v-for="mod in modules" :value="mod.id" :data-namemod="mod.name" :key="mod.id">{{ mod.name }}</option>
                                                    </select>
                                                    <has-error :form="form" field="module"></has-error>
                                                </div>
                                        </div>

                                        <div class="col-md-2">
                                                <div class="form-group">
                                                <button type="button" class="btn btn-sm btn-success" @click.prevent="addItem"><i class="fas fa-plus"></i></button>
                                                </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div v-if="dataccess">
                                                    <table>
                                                        <thead>
                                                            <th>Module - Rol</th>
                                                        </thead>
                                                        <tbody>
                                                                    <tr v-for="(data, index) in visualmodule">
                                                                        <td>{{ data.module }} - {{ data.role }}</td>
                                                                        <td>
                                                                            <a href="" class="btn btn-sm btn-danger" @click.prevent="removeItem(index)"><i class="fas fa-minus"></i></a>
                                                                        </td>
                                                                    </tr>
                                                        </tbody>
                                                    
                                                    
                                                    </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                                    <button v-show="editmode" type="submit" class="btn btn-primary update">Update</button>
                                    <button v-show="!editmode" type="submit" class="btn btn-primary create">Create</button>
                                </div>

                        </form>

                  </div>
              </div>
            </div>
        <!-- End Modal -->



    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                users : {},
                roles: {},
                modules : {},
                form: new Form({
                    id:'',
                    first_name : '',
                    last_name: '',
                    email: '',
                    password: '',
                    phone: '',
                    cellphone: '',
                    address: '',
                    date_of_birth: '',
                    restriction_by_ip: false,
                    status: false,
                    module_role:[],
                    module:null,
                    role:null
                }),
                dataccess: false,
                visualmodule: [],
                name_module:'',
                name_role:'',
                role: '',
                module: '',
                arrayeditRol: [],
                arrayeditModule: [],
                arrayidRol: [],
                arrayidModule: [],
                show :{
                     id:'',
                    first_name : '',
                    last_name: '',
                    email: '',
                    password: '',
                    phone: '',
                    cellphone: '',
                    address: '',
                    date_of_birth: '',
                    restriction_by_ip: 0,
                    status: 0,
                    permission: [],
                    mod: [],
                    visualmodule: [],
                    showpermission: false,
                },
                search:''
            }
        },
        methods: {
            getResults(page = 1) {
                        axios.get('api/user?page=' + page)
                            .then(response => {
                                this.users = response.data;
                            });
                },
            updateUser(){
                this.$Progress.start();
                let button = $('.update');

                button.attr('disabled',true);
               
                this.form.put('api/user/'+this.form.id)
                .then(() => {
                    // success
                    $('#addNew').modal('hide');
                     swal.fire(
                        'Updated!',
                        'Information has been updated.',
                        'success'
                        )
                        this.$Progress.finish();
                         Fire.$emit('AfterCreate');
                          button.attr('disabled',false);
                })
                .catch(() => {
                    this.$Progress.fail();
                });
            },
            editModal(user){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);
                this.dataccess = true;
                 this.arrayeditModule = [];
                 this.arrayeditRol = [];
                 this.visualmodule = [];
                 this.form.module_role = [];

                 if(user.status == 1){
                     this.form.status = true;
                 }else{
                     this.form.status = false;
                 }

                    if(user.roles.length > 0)
                    {
                        for(let a=0; a<user.module.length; a++) {
                            this.arrayeditModule.push( user.module[a].name);
                             this.arrayidModule.push( user.module[a].id);
                        }

                          for(let b=0; b<user.roles.length; b++) {
                                    this.arrayeditRol.push( user.roles[b].name);
                                         this.arrayidRol.push( user.roles[b].id);
                                }

                                for(let c=0;c<this.arrayeditRol.length;c++)
                                {
                                    this.visualmodule.push({'module' : this.arrayeditModule[c], 'role' :  this.arrayeditRol[c]});
                                     this.form.module_role.push({'module' : this.arrayidModule[c], 'namerol' :  this.arrayidRol[c]})
                                }
                    }else{
                         this.dataccess = false;
                    }

            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                this.visualmodule = [];
                this.dataccess = false;

               // this.$refs.firstname.focus();
               
                $('#addNew').modal('show');
              
               

            },
            deleteUser(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#ab9220',
                    cancelButtonColor: '#8f9194',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/user/'+id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
            loadUsers(){
               /* if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/user").then(({ data }) => (this.users = data));
                }*/
                axios.get("api/user").then( ({data}) => (this.users = data));
            },
            loadRoles() {
                axios.get("api/role").then( ({data}) => (this.roles = data));
            },
            loadModules() {
                axios.get("api/module").then( ({data}) => (this.modules = data));
            },
            createUser() {
             
              this.$Progress.start();
                this.form.post('api/user')
                .then( () => {
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide');

                    swal.fire({
                        type: 'success',
                        title: 'User Created in successfully'
                        });
                         this.loadUsers();

                     this.visualmodule = [];
                     this.dataccess = false;
                     this.$Progress.finish();
                   
                })
                .catch( (errors) => {
                   // console.log(errors);
                })
            },
            addItem() {
             
               if(this.form.role != undefined && this.form.module != undefined){
                    this.form.module_role.push({'module' : this.form.module, 'namerol': this.form.role});
                    this.visualmodule.push({'module' : this.name_module, 'role' :  this.name_role});
                   
                    this.dataccess = true;
                    
                    this.module = '';
                    this.role = '';
               }
           
            },
             handleChange(e) {
                if(e.target.options.selectedIndex > -1) {
                    //console.log(e.target.options[e.target.options.selectedIndex].dataset.namemod);
                    this.name_module = e.target.options[e.target.options.selectedIndex].dataset.namemod;
                     
                }
            },
            handleChangeRol(e) {
                if(e.target.options.selectedIndex > -1) {
                  this.name_role = e.target.options[e.target.options.selectedIndex].dataset.namerol;
                }
            },
             removeItem(index) {
                this.form.module_role.splice(index, 1);
                this.visualmodule.splice(index, 1);
                this.dataccess = true;
                this.module = '';
                this.role = '';
                if(this.visualmodule.length == 0){
                        this.dataccess = false;
                    }else{
                        this.dataccess = true;
                    }
              //console.log(this.$el.target.options[this.$el.target.options.selectedIndex].da);
            },
            showUser(user)
            {
                  $('#showUserData').modal('show');
                    this.show.first_name = user.first_name;
                     this.show.last_name = user.last_name;
                      this.show.email = user.email;
                       this.show.phone = user.phone;
                        this.show.cellphone = user.cellphone;
                         this.show.address = user.address; 
                         this.show.date_of_birth = user.date_of_birth;
                         this.show.status = user.status;
                         this.show.restriction_by_ip = user.restriction_by_ip;
                        // this.show.permission = user.roles;
                        // this.show.mod = user.module;
                          this.show.visualmodule = [];
                           this.mod = [];
                           this.permission =[];
                          let _this = this;

                          if(user.roles.length > 0){
                              _this.show.showpermission = true;
                                       for(let a=0; a<user.module.length; a++) {
                                                this.mod.push( user.module[a].name);
                                        }

                                    for(let b=0; b<user.roles.length; b++) {
                                                this.permission.push( user.roles[b].name);
                                                
                                        }

                                    for(let c=0;c<_this.permission.length;c++)
                                        {
                                                _this.show.visualmodule.push({'module' : _this.mod[c], 'role' :  _this.permission[c]});
                                        }
                          }else{
                                _this.show.showpermission = false;
                          }

                   
            },
            searchit(){
                    let query = this.search;
                      axios.get('findUser?q=' + query)
                        .then((data) => {
                            this.users = data.data
                        })
                        .catch( (errors) => {
                       // console.log(errors);
                        })
            }
        },
        created() {
           this.loadUsers();
           this.loadRoles();
           this.loadModules();
          
          Fire.$on('AfterCreate',() => {
                this.loadUsers();
                this.loadRoles();
                this.loadModules();
           });
        //    setInterval(() => this.loadUsers(), 3000);
        },
        
    }
</script>

<style>
    
   
</style>
